@use "./variables" as *;

#footer{
    // border: solid 1px pink;
    background-color: black;

    .footer__icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // border: solid 1px pink;
        width: 45%;

        li{
            list-style-type: none;
        }
    }

    .footer__email{
        padding-top: 30px;
        font-size: $secondary-fontsize;
        color: white;
        text-align: center;
    }
}