@use "./variables" as *;

.main{
    // border: solid 1px red;

    .intro{
        // border: solid 1px orange;

        .intro__greeting-container{
            // border: solid 1px blue;
            padding: 20px;
            
            .intro__greeting{
                // border: solid 1px yellow;
                font-size:$secondary-fontsize ;
                color: $teirtiary-colour;
                padding-bottom: 30px;
            }

            .intro__bio{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border: solid 1px green;
                width: 40%; //change to in media query
                font-size: $primary-fontsize;
                color: $secondary-colour;

                img{
                    display: none; //remove in media query
                    height: 20vh;
                }
            }
        }
    }
}