@use "./variables" as *;

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__name{
        font-size: $tiertiary-fontsize;
        color: $secondary-colour;

        #nav__code-icon{
            color: $primary-colour;
            margin-right: 5px;
        }
    }

    #nav__menu-icon{
        color: $teirtiary-colour;
    }
    
    .nav__menu{
        display: none; 
        justify-content: space-evenly;
        align-items: center;

        li {
            list-style-type: none;

            a{
                text-decoration: none;
                color: $teirtiary-colour;
            }


            #nav__button{
                button{
                    border-radius: 5px;
                    padding: 5px;
                    background-color: $primary-colour;
                    border: 1px solid $secondary-colour;
                    color: $secondary-colour;
                    font-weight: bold;            
                }
    
                button:hover{
                    background-color: $teirtiary-colour;
                }
            }
        }
    }
}


@media screen and (min-width: 1728px){
   #nav{
        margin: 30px;
        padding: 20px;

           #nav__code-icon{
           display: none;
       }
   
       #nav__menu-icon{
           display: none;
       }
       
       .nav__menu{
           display: flex; 
           justify-content: space-between;
           width: 30%;
   
           li {
                a:hover{
                    background-color: $faded-colour;
                    border: solid 1px $secondary-colour;
                    border-radius: 2px;
                    padding: 5px;
                    color: $secondary-colour;
                }
               button{
                   padding: 10px 30px;
               }
           }
       }
   } 
}

