//Colours
$primary-colour: rgba(213, 176, 243, 0.911);
$secondary-colour: rgb(66, 30, 126);
$teirtiary-colour: grey;

//Fonts

//Font sizes
$primary-fontsize: 40px;
$secondary-fontsize: 26px;
$tiertiary-fontsize: 20px;
$paragraphs: 15px;