@use "./nav" as *;
@use "./variables" as *;
@use "./main" as *;
@use "./footer" as *;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nav-container{
    max-width: 100%;
    padding: 10%;
}

.container{
    max-width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;   
    align-items: center; 
}

@media screen and (min-width: 1728px){
    .container{
        padding: 2%;
    }
}



